---
import type { CollectionEntry } from 'astro:content';

// import Comments from '@components/Comments';
// import Datetime from '@components/Datetime';
// import Footer from '@components/Footer.astro';
// import ShareLinks from '@components/ShareLinks.astro';
// import Tag from '@components/Tag.astro';
import { BLOG_INFO } from 'config';
import Layout from '@layouts/Layout.astro';
import DateStr from '@components/DateStr.astro'
// import { slugifyStr } from '@utils/slugify';

export interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const {
    title,
    description,
    publishDate,
    // ogImage,
    canonicalURL,
    // pubDatetime,
    modDatetime,
    readingTime,
    tags,
} = post.data;

const { Content } = await post.render();

// const ogImageUrl = typeof ogImage === 'string' ? ogImage : ogImage?.src;
// const ogUrl = new URL(ogImageUrl ?? `/posts/${slugifyStr(title)}.png`, Astro.url.origin).href;

const layoutProps = {
    title: `${title} | ${BLOG_INFO.title}`,
    // author,
    description,
    publishDate,
    modDatetime,
    canonicalURL,
    // ogImage: ogUrl,
    scrollSmooth: true,
};
---

<Layout {...layoutProps}>
    <main id="main-content" class="pt-8">
        <h1 class="title font-medium mb-6 text-4xl tracking-tighter max-w-[650px]">{title}</h1>
        <DateStr date={publishDate}/>
        <article id="article" role="article" class="max-w-3xl prose prose-quoteless prose-neutral dark:prose-invert">
            <Content />
        </article>

        <!-- <ul class="my-8">
            {tags.map((tag) => <Tag tag={slugifyStr(tag)} />)}
        </ul> -->

        <div
            class="mb-16 flex flex-col-reverse items-center justify-between gap-6 sm:flex-row-reverse sm:items-end sm:gap-4"
        >
            <!-- <button id="back-to-top" class="focus-outline whitespace-nowrap py-1 hover:opacity-75">
                <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                    ></path>
                </svg>
                <span>回到顶部</span>
            </button> -->

        </div>
    </main>
</Layout>
